@if(isAddingTasking) {
    <app-new-task (close)="onCloseAddTask()" [userId]="userId"></app-new-task>
}

<section id="tasks">
    <header>
        <h2>{{selectedUserName}}'s Tasks</h2>
        <menu>
            <button type="button" (click)="onStartAddTask()">Add Task</button>
        </menu>
    </header>
    
    <ul>
        @for(task of selectedUserTasks; track task.id) {
            <li>
                <app-task [taskInfo]="task"></app-task>
            </li>
        }
    </ul>
</section>